.card__contagem__container {
    width: 100%;
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: 3px solid #77499a;
    border-radius: 10px;
    background-color: #ffffff;
    gap: 15px;
}

.card__contagem {
    width: 100%;
    display: flex;
    gap: 5px;
}

.card__contagem span {
    flex: 1;
    padding: 5px;
    border: 2px solid #77499a;
    border-radius: 5px;
    font-size: calc(60 / 16 * 1rem);
    font-weight: bold;
    color: #f6bd45;
    text-align: center;
}

.card__contagem span:nth-child(3) {
    border: none;
}

.card__sorteio {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    border: 2px solid #77499a;
    border-radius: 5px;
}

.card__sorteio__info {
    padding: 5px;
    flex: 1;
    text-align: center;
}

.card__sorteio__info:nth-child(1) {
    border-right: 1px solid #77499a;
}

.card__sorteio__info:nth-child(3) {
    border-left: 1px solid #77499a;
}

.card__sorteio h3,
.card__sorteio p {
    font-size: calc(14 / 16 * 1rem);
    font-weight: bold;
}

.card__sorteio h3 {
    color: #77499a;
}

.card__premios {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.card__premio {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #77499a;
    border-radius: 5px;
    color: #ffffff;
}

.card__premio:last-child {
    background-color: #f6bd45;
    animation-name: smalltobig;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.card__premio p {
    font-size: calc(18 / 16 * 1rem);
    font-weight: bold;
    text-transform: uppercase;
}

.card__colocacao {
    display: flex;
    align-items: center;
}

.card__colocacao img {
    height: 32px;
    margin-left: 10px;
    transform: rotate(25deg);
}


@keyframes smalltobig {
    0% {
        transform: scale(1.0);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1.0);
    }
}
