.game__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.premios__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    gap: 10px;
}

.premio {
    border: 1px solid #f6bd45;
}

.premio.desativado {
    background-color: #303030;
    border: 1px solid #303030;
}

.premio.desativado .premio__titulo {
    background-color: #303030;
}

.premio,
.informacao {
    width: 100%;
    padding: 5px;
    background-color: #77499a;
    text-align: center;
    color: #ffffff;
    border-radius: 5px;
}

.premio.animado {
    background-color: #f6bd45;
    animation-name: smalltobig;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.premio.animado .premio__titulo {
    background-color: #9b6a00;
}

.premio__titulo,
.informacao__titulo {
    background-color: #3c016a;
    font-size: calc(10 / 16 * 1rem);
    border-radius: 5px;
    margin-bottom: 5px;
}

.informacao__titulo {
    color: #f6bd45;
}

.premio__valor,
.informacao__valor {
    font-size: calc(12 / 16 * 1rem);
}

.bolas__container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}

.informacao__container {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.bolas {
    width: 70%;
    padding: 5px;
    display: flex;
    align-items: center;
    position: relative;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
}

.bola__esquerda {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bola__esquerda img {
    width: 100%;
    border: 2px solid #ffffff;
    border-radius: 50%;
}

.bola__direita {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.bola__direita img:nth-child(1) {
    width: 100%;
    border: 2px solid #ffffff;
    border-radius: 50%;
}

.bola__direita img:nth-child(2) {
    width: 80%;
    border: 2px solid #ffffff;
    border-radius: 50%;
}

.bola__direita img:nth-child(3) {
    width: 60%;
    border: 2px solid #ffffff;
    border-radius: 50%;
}

.ordem__numero {
    width: 100%;
    display: flex;
    justify-content: end;
    position: relative;
}

.ordem__numero p {
    padding: 2px 5px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    color: #f6bd45;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
}

.numeros__container {
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    background-color: #77499a;
    border-radius: 5px;
    gap: 2px;
    position: relative;
}

.numeros__row {
    display: flex;
    gap: 2px;
}

.numero {
    flex: 1;
    text-align: center;
    border-radius: 2px;
    font-size: calc(10 / 16 * 1rem);
    font-weight: bold;
}

.numero.desativado {
    background-color: #303030;
    color: #808080;
}

.numero.agora {
    background-color: #f50000;
    color: #ffffff;
}

.numero.sorteado {
    background-color: rgb(0, 200, 0);
    color: #ffffff;
}

.numeros__faltam__container {
    width: 100%;
    height: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    background-color: #77499a;
    border-radius: 5px;
    position: relative;
    gap: 1px;
    overflow-y: auto;
}

.numeros__faltam__head {
    width: 100%;
    display: flex;
    gap: 1px;
}

.cupom {
    width: 20%;
}

.doador {
    width: 40%;
}

.doador .body {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.faltam {
    width: 40%;
}

.cupom,
.doador,
.faltam {
    padding: 2px;
}

.cupom.head,
.doador.head,
.faltam.head {
    font-size: calc(12 / 16 * 1rem);
    font-weight: bold;
    text-transform: uppercase;
    color: #f6bd45;
    text-align: center;
}

.numeros__faltam__bottom {
    display: flex;
    font-size: calc(12 / 16 * 1rem);
    gap: 1px;
}

.cupom.body,
.doador.body,
.faltam.body {
    background-color: #ffffff;
    border-radius: 2px;
    text-align: center;
    font-weight: bold;
}

.cupom.body {
    color: #ff0000;
}

.faltam.body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1px;
}

.falta {
    width: 100%;
    height: 100%;
    background-color: #77499a;
    color: #ffffff;
    border-radius: 2px;
}

.falta.sorteado {
    background-color: #a1a1a1;
}

@keyframes smalltobig {
    0% {
        transform: scale(1.0);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1.0);
    }
}